# {{ ansible_managed }}
OPENROOM_ROOM_NAME={{ room_name }}
OPENROOM_DEMO_JOIN_URL={{ control_demo_join_url }}
OPENROOM_HOME_URL={{ kiosk_start_url }}
OPENROOM_JOIN_BY_ID_URL={{ control_join_by_id_url }}
OPENROOM_EXTERNAL_BASE_URL={{ control_external_base_url }}
OPENROOM_CDP_HOST=127.0.0.1
OPENROOM_CDP_PORT=9222
OPENROOM_EXTENSION_CRX_PATH=/opt/openroom/extension/src.crx
OPENROOM_EXTENSION_ID_PATH=/opt/openroom/extension/id.txt
OPENROOM_EXTENSION_VERSION={{ control_extension_version }}
