{
  "_comment": "{{ ansible_managed }}",

  "DefaultBrowserSettingEnabled": false,
  "MetricsReportingEnabled": false,
  "BrowserSignin": 0,
  "SyncDisabled": true,
  "PasswordManagerEnabled": false,
  "AutofillAddressEnabled": false,
  "AutofillCreditCardEnabled": false,
  "TranslateEnabled": false,
  "BookmarkBarEnabled": false,
  "IncognitoModeAvailability": 1,
  "PrintingEnabled": false,
  "DownloadRestrictions": 3,
  "BackgroundModeEnabled": false,
  "PromptForDownloadLocation": false,
  "DefaultNotificationsSetting": 2
}
