{
  "_comment": "{{ ansible_managed }}",

  "DefaultBrowserSettingEnabled": false,
  "MetricsReportingEnabled": false,
  "BrowserSignin": 0,
  "SyncDisabled": true,
  "PasswordManagerEnabled": false,
  "AutofillAddressEnabled": false,
  "AutofillCreditCardEnabled": false,
  "TranslateEnabled": false,
  "BookmarkBarEnabled": false,
  "IncognitoModeAvailability": 1,
  "PrintingEnabled": false,
  "DownloadRestrictions": 3,
  "BackgroundModeEnabled": false,
  "PromptForDownloadLocation": false,
  "DefaultNotificationsSetting": 2,

  "VideoCaptureAllowedUrls": [
    "https://teams.microsoft.com",
    "https://teams.live.com"
  ],
  "AudioCaptureAllowedUrls": [
    "https://teams.microsoft.com",
    "https://teams.live.com"
  ],

  "DeveloperToolsAvailability": 2,

  "URLAllowlist": [
    "https://teams.microsoft.com/*",
    "https://teams.live.com/*",
    "https://login.microsoftonline.com/*",
    "https://login.live.com/*",
    "http://127.0.0.1:8080/*"
  ],
  "URLBlocklist": ["*"],

  "ExtensionInstallForcelist": [
    "{{ openroom_extension_id }};http://127.0.0.1:8080/extension/update.xml"
  ]
}
